requests==2.32.3
bs4==0.0.2
lxml==5.2.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
celery==5.4.0
redis==5.0.8
flower==2.0.1

pip~=24.2
wheel~=0.41.2
tornado~=6.4.1
setuptools~=68.2.0
SQLAlchemy~=2.0.34
beautifulsoup4~=4.12.3